<%= div_for alumno do %>

	<p id="notice"><%= notice %></p>
<table>
  <thead>
  </thead>
  <tbody>
   
      <tr>
        <td width=16%><%= image_tag(alumno.avatar, :width => 75, :height => 65)  %> </td>
        <td width=16%><%= alumno.nombre %></td>
        <td width=16%><%= alumno.apellido %></td>
        <td width=16%><%= alumno.edad %></td>
        <td width=16%><%= alumno.telefono %></td>
       
        <td width=16%><%= time_ago_in_words(alumno.created_at)%></td>
      </tr>
    
  </tbody>
</table>
<% end %>