<p id="notice"><%= notice %></p>

<h1>Centros</h1>

<table>
  <thead>
    <tr>
    
      <th>Nombre</th>
      <th>Direccion</th>
      <th>Email</th>ok
      <th colspan="3"></th>
      
    </tr>
  </thead>

  <tbody>
    <% @centros.each do |centro| %>
      <tr>
         <td><%= centro.nombre %></td>
        <td><%= centro.direccion %></td>
        <td><%= centro.email %></td>
        <td><%= link_to 'Show', centro,  class:"info button round" %></td>
        <td><%= link_to 'Edit', edit_centro_path(centro),  class:"button round" %></td>
        <td><%= link_to 'Destroy', centro, method: :delete, class:"button round alert", data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Centro', new_centro_path, class:" success radius button" %>