<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @centro.nombre %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @centro.direccion %>
</p>

<p>
  <strong>Email:</strong>
  <%= @centro.email %>
</p>
<table>
<thead>

    <tr>
      <th width=16%>Perfil</th>
      <th width=16%>Nombre</th>
      <th width=16%>Apellido</th>
      <th width=16%>Edad</th>
      <th width=16%>Telefono</th>
      <th width=16%>Agregado</th>
      <th colspan="3"></th>
    </tr> 

  </thead>
</table> 




<div id="alumnos">
  <%= render :partial => @centro.alumnos.reverse %>
</div>

<%= form_for([@centro, Alumno.new], remote: true) do |f| %>

<div class="field">
  <%= f.label :Foto %>
   <%= f.file_field :avatar %>
</div>

<div class="field">
  <%= f.label :Nombre %>
  <%= f.text_field :nombre %>
   
</div>

<div class="field">
  <%= f.label :Apellido %>
   <%= f.text_field :apellido %>
</div>

<div class="field">
  <%= f.label :Edad %>
   <%= f.number_field :edad %>
</div>
<div class="field">
  <%= f.label :Telefono %>
   <%= f.text_field :telefono %>
</div>

<div class="actions">
  <%= f.submit "Agregar Alumno", class:" success radius button" %>
</div>
<% end %>

<%= link_to 'Edit', edit_centro_path(@centro), class:"tiny button round" %> |
<%= link_to 'Back', centros_path, class:"tiny button round" %>
